<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.xblog.mapper.OperateLogMapper">
  <resultMap id="BaseResultMap" type="com.example.xblog.domain.OperateLog">
    <result column="log_id" jdbcType="BIGINT" property="logId" />
    <result column="log_url" jdbcType="VARCHAR" property="logUrl" />
    <result column="log_method" jdbcType="VARCHAR" property="logMethod" />
    <result column="log_ip" jdbcType="VARCHAR" property="logIp" />
    <result column="log_startDate" jdbcType="VARCHAR" property="logStartdate" />
    <result column="log_endDate" jdbcType="VARCHAR" property="logEnddate" />
    <result column="log_responseTime" jdbcType="VARCHAR" property="logResponsetime" />
    <result column="log_operation" jdbcType="VARCHAR" property="logOperation" />
    <result column="log_operationTime" jdbcType="TIMESTAMP" property="logOperationtime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.example.xblog.domain.OperateLog">
    <result column="log_params" jdbcType="LONGVARCHAR" property="logParams" />
    <result column="log_result" jdbcType="LONGVARCHAR" property="logResult" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    log_id, log_url, log_method, log_ip, log_startDate, log_endDate, log_responseTime, 
    log_operation, log_operationTime
  </sql>
  <sql id="Blob_Column_List">
    log_params, log_result
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.example.xblog.domain.OperateLogExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.example.xblog.domain.OperateLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.example.xblog.domain.OperateLogExample">
    delete from t_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.xblog.domain.OperateLog">
    insert into t_log (log_id, log_url, log_method, 
      log_ip, log_startDate, log_endDate, 
      log_responseTime, log_operation, log_operationTime, 
      log_params, log_result)
    values (#{logId,jdbcType=BIGINT}, #{logUrl,jdbcType=VARCHAR}, #{logMethod,jdbcType=VARCHAR}, 
      #{logIp,jdbcType=VARCHAR}, #{logStartdate,jdbcType=VARCHAR}, #{logEnddate,jdbcType=VARCHAR}, 
      #{logResponsetime,jdbcType=VARCHAR}, #{logOperation,jdbcType=VARCHAR}, #{logOperationtime,jdbcType=TIMESTAMP}, 
      #{logParams,jdbcType=LONGVARCHAR}, #{logResult,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.xblog.domain.OperateLog">
    insert into t_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="logId != null">
        log_id,
      </if>
      <if test="logUrl != null">
        log_url,
      </if>
      <if test="logMethod != null">
        log_method,
      </if>
      <if test="logIp != null">
        log_ip,
      </if>
      <if test="logStartdate != null">
        log_startDate,
      </if>
      <if test="logEnddate != null">
        log_endDate,
      </if>
      <if test="logResponsetime != null">
        log_responseTime,
      </if>
      <if test="logOperation != null">
        log_operation,
      </if>
      <if test="logOperationtime != null">
        log_operationTime,
      </if>
      <if test="logParams != null">
        log_params,
      </if>
      <if test="logResult != null">
        log_result,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="logId != null">
        #{logId,jdbcType=BIGINT},
      </if>
      <if test="logUrl != null">
        #{logUrl,jdbcType=VARCHAR},
      </if>
      <if test="logMethod != null">
        #{logMethod,jdbcType=VARCHAR},
      </if>
      <if test="logIp != null">
        #{logIp,jdbcType=VARCHAR},
      </if>
      <if test="logStartdate != null">
        #{logStartdate,jdbcType=VARCHAR},
      </if>
      <if test="logEnddate != null">
        #{logEnddate,jdbcType=VARCHAR},
      </if>
      <if test="logResponsetime != null">
        #{logResponsetime,jdbcType=VARCHAR},
      </if>
      <if test="logOperation != null">
        #{logOperation,jdbcType=VARCHAR},
      </if>
      <if test="logOperationtime != null">
        #{logOperationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="logParams != null">
        #{logParams,jdbcType=LONGVARCHAR},
      </if>
      <if test="logResult != null">
        #{logResult,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.xblog.domain.OperateLogExample" resultType="java.lang.Long">
    select count(*) from t_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_log
    <set>
      <if test="row.logId != null">
        log_id = #{row.logId,jdbcType=BIGINT},
      </if>
      <if test="row.logUrl != null">
        log_url = #{row.logUrl,jdbcType=VARCHAR},
      </if>
      <if test="row.logMethod != null">
        log_method = #{row.logMethod,jdbcType=VARCHAR},
      </if>
      <if test="row.logIp != null">
        log_ip = #{row.logIp,jdbcType=VARCHAR},
      </if>
      <if test="row.logStartdate != null">
        log_startDate = #{row.logStartdate,jdbcType=VARCHAR},
      </if>
      <if test="row.logEnddate != null">
        log_endDate = #{row.logEnddate,jdbcType=VARCHAR},
      </if>
      <if test="row.logResponsetime != null">
        log_responseTime = #{row.logResponsetime,jdbcType=VARCHAR},
      </if>
      <if test="row.logOperation != null">
        log_operation = #{row.logOperation,jdbcType=VARCHAR},
      </if>
      <if test="row.logOperationtime != null">
        log_operationTime = #{row.logOperationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.logParams != null">
        log_params = #{row.logParams,jdbcType=LONGVARCHAR},
      </if>
      <if test="row.logResult != null">
        log_result = #{row.logResult,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update t_log
    set log_id = #{row.logId,jdbcType=BIGINT},
      log_url = #{row.logUrl,jdbcType=VARCHAR},
      log_method = #{row.logMethod,jdbcType=VARCHAR},
      log_ip = #{row.logIp,jdbcType=VARCHAR},
      log_startDate = #{row.logStartdate,jdbcType=VARCHAR},
      log_endDate = #{row.logEnddate,jdbcType=VARCHAR},
      log_responseTime = #{row.logResponsetime,jdbcType=VARCHAR},
      log_operation = #{row.logOperation,jdbcType=VARCHAR},
      log_operationTime = #{row.logOperationtime,jdbcType=TIMESTAMP},
      log_params = #{row.logParams,jdbcType=LONGVARCHAR},
      log_result = #{row.logResult,jdbcType=LONGVARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_log
    set log_id = #{row.logId,jdbcType=BIGINT},
      log_url = #{row.logUrl,jdbcType=VARCHAR},
      log_method = #{row.logMethod,jdbcType=VARCHAR},
      log_ip = #{row.logIp,jdbcType=VARCHAR},
      log_startDate = #{row.logStartdate,jdbcType=VARCHAR},
      log_endDate = #{row.logEnddate,jdbcType=VARCHAR},
      log_responseTime = #{row.logResponsetime,jdbcType=VARCHAR},
      log_operation = #{row.logOperation,jdbcType=VARCHAR},
      log_operationTime = #{row.logOperationtime,jdbcType=TIMESTAMP}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>